doctype html
html
  include ../inc/head
  body
    include ../inc/header
    textarea#source
      include ../../slides/lessons/state/slide-1.md
      include ../../slides/lessons/state/slide-2.md
      include ../../slides/lessons/state/slide-3.md
      include ../../slides/lessons/state/slide-4.md
      include ../../slides/lessons/state/slide-5.md
    include ../inc/scripts
