doctype html
html
  include ../inc/head
  body
    include ../inc/header
    textarea#source
      include ../../slides/exercices/weather/slide-1.md
      include ../../slides/exercices/weather/slide-2.md
      include ../../slides/exercices/weather/slide-3.md
    include ../inc/scripts
