div#bg
div#header
  div#logo
  #nav
    div.nav-link 
      a.text-white.font-bold(href="/react-course/index.html") Home
    div.nav-link 
      a.text-white.font-bold(href="/react-course/lessons/index.html") Lessons
    div.nav-link 
      a.text-white.font-bold(href="/react-course/exercices/index.html") Exercices